<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout/content-intranet">
<main layout:fragment="content">

<h1>Curation Dashboard</h1>

<h2>Shortcuts</h2>
<ul>
    <li>Manage <a th:href="@{/admin/collection/list/subcategory/2}">Federal Government Web</a> subcategory</li>
</ul>

<h2>Helpful links</h2>
<ul>
    <li><a th:href="#{link.baclac.gcwa.url}">Web Archive Home</a></li>
    <li><a th:href="${@environment.getProperty('gcwa.fullwayback.url')}">Private OpenWaybak with Full Index</a></li>
    <li><a th:href="${@environment.getProperty('gcwa.fullwayback.url')}">Private OpenWaybak with Full Index</a></li>
</ul>

<h2>Admin</h2>
Manage:
<ul>
    <li><a th:href="@{/admin/category/list}">Categories</a></li>
    <ul>
        <li><a th:href="@{/admin/subcategory/list}">Sub Categories</a></li>
        <ul>
            <li><a th:href="@{/admin/collection/list}">Collections</a></li>
            <ul><li>Seeds</li></ul>
        </ul>
    </ul>
</ul>
View:
<ul>
    <li><a th:href="@{/admin/audit}">audit log</a></li>
</ul>

<hr />

<form th:action="@{/admin/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</main>
</html>