<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorator="layout/content-secmenu">
<main layout:fragment="content">

<link rel="stylesheet" th:href="@{/css/resultlist.css}" href="../../static/css/resultlist.css" />

<h1 id="wb-cont" property="name" th:text="#{search.title}">Search Title</h1>

<div class="wb-frmvld">
	<form method="get" action="#" th:action="@{/search}" id="validation-example">
		<div class="form-group">
 			<label for="data1" th:text="#{search.message}"></label>
            <input class="form-control" id="data1" name="q" type="text"
				required="required" pattern=".{2,}" th:value="${metadata?.query}" data-rule-minlength="2" />
		</div>
        <div class="form-group">
            <label for="mimetype" th:text="#{search.results.item.type}"></label>
            <select id="mimetype" name="mimetype" size="1">
                <option value="0">All formats</option>
                <option value="text/html" th:selected="${mimetype} == 'text/html'">HTML</option>
                <option value="text/plain" th:selected="${mimetype} == 'text/plain'">Plain text</option>
                <option value="application/pdf" th:selected="${mimetype} == 'application/pdf'">PDF</option>
                <option value="application/postscript" th:selected="${mimetype} == 'application/postscript'">Postscript</option>
                <option value="application/msword" th:selected="${mimetype} == 'application/msword'">Microsoft Word</option>
            </select>
        </div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" th:text="#{button.search}">
			</button>
			<input type="reset"
				th:value="#{button.reset.all}"
				class="btn btn-default" />
		</div>
	</form>
</div>

<div class="datatable_wrapper ClientSearchResultList" th:if="${items}">

    <h2 th:text="${metadata.getTotalResults()} + ' ' + #{search.basicsearch.results.result}">num of results</h2>

    <ol class="ResultOL">
        <li class="ResultLI" th:each="item,iter : ${items}" th:style="${iter.index} % 2 == 0 ? 'background-color: #f0f0f0'">
            <div class="ResultItemCheckBox HideToPrinter" th:text="${iter.index} + 1">1</div>
            <div class="ResultItemRecord">
                <div class="RecordWrapper">
                <h3><a th:href="'http://wayback.archive-it.org/' + ${item.collection} + '/' + ${item.link}"  th:text="${item.title}">Entry title</a></h3>
                <!--FIXME link to proper capture date once we have it: href="'http://wayback.archive-it.org/' + ${item.collection} + '/' + ${item.captureDate} + '/' + ${item.link}" -->
                <div class="allWidth fontdot9" th:utext="${item.description}"></div>
                <dl class="RecordRow">
                        <dt th:text="#{search.results.item.site}"></dt>
                        <dd th:text="${item.site}"></dd>
                        <dt th:text="#{search.results.item.type}"></dt>
                        <dd th:text="${item.type}"></dd>
                </dl>
                </div>
            </div>
        </li>
    </ol>


</div>

</main>
</html>
