<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="layout/content-secmenu">
<main layout:fragment="content">

<link rel="stylesheet" th:href="@{/css/resultlist.css}" href="../../static/css/resultlist.css" />

<h1 id="wb-cont" property="name" th:text="#{search.title}">Search Title</h1>

<div class="alert alert-warning">
    <p th:text="#{search.beta.warning}">development version</p>
</div>

<div class="wb-frmvld">
	<form method="get" action="#" th:action="@{/search}" id="validation-example">
		<div class="form-group">
 			<label for="data1" th:text="#{search.message}"></label>
            <input class="form-control" id="data1" name="q" type="text"
				required="required" pattern=".{2,}" th:value="${metadata?.query}" data-rule-minlength="2" />
		</div>
        <div class="form-group">
            <label for="host" th:text="#{search.message.host}"></label>
            <input class="form-control" id="host" name="s" type="text" th:placeholder="#{search.message.host.example}"
                   pattern=".{2,}" th:value="${metadata?.host}" data-rule-minlength="2" />
        </div>
        <div class="form-group">
            <label for="contentype" th:text="#{search.results.item.type}"></label>
            <select id="contentype" name="t" size="1">
                <option value="0" th:text="#{search.basicsearch.format.all}">All formats</option>
                <option value="text/html" th:selected="${contentType} == 'text/html'">HTML</option>
                <option value="text/plain" th:selected="${contentType} == 'text/plain'" th:text="#{search.basicsearch.format.plaintext}">Plain text</option>
                <option value="application/pdf" th:selected="${contentType} == 'application/pdf'">PDF</option>
                <option value="application/postscript" th:selected="${contentType} == 'application/postscript'">Postscript</option>
                <option value="application/msword" th:selected="${contentType} == 'application/msword'">Microsoft Word</option>
            </select>
        </div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" th:text="#{button.search}">
			</button>
			<input type="reset"
				th:value="#{button.reset.all}"
				class="btn btn-default" />
		</div>
	</form>
</div>

<div class="datatable_wrapper ClientSearchResultList" th:if="${items}">

    <h2 th:text="${metadata.getTotalResults()} + ' ' + #{search.basicsearch.results.result}">num of results</h2>
    <span><small th:text="#{search.results.browse.limit}"></small></span>
    
    <ol class="ResultOL">
        <li class="ResultLI" th:each="item,iter : ${items}" th:style="${iter.index} % 2 == 0 ? 'background-color: #f0f0f0'">
            <div class="ResultItemCheckBox HideToPrinter" th:text="(${iter.index} + 1) + (${metadata.itemsPerPage} * (${currentPage} - 1))">1</div>
            <div class="ResultItemRecord">
                <div class="RecordWrapper">
                <h3><a th:href="'http://wayback.archive-it.org/' + ${item.collection} + '/' + ${item.link}"  th:text="${item.title}">Entry title</a></h3>
                <!--FIXME link to proper capture date once we have it: href="'http://wayback.archive-it.org/' + ${item.collection} + '/' + ${item.captureDate} + '/' + ${item.link}" -->
                <div class="allWidth fontdot9" th:utext="${item.description}"></div>
                    <div><a th:href="@{''(q=${metadata.query},t=${contentType},s=${item.site})}"><span th:text="#{search.results.item.morefrom}"></span> <strong th:text="${item.site}">example.com</strong></a></div>
                <dl class="RecordRow">
                        <dt th:text="#{search.results.item.type}"></dt>
                        <dd th:text="${item.type}"></dd>
                </dl>
                </div>
            </div>
        </li>
    </ol>

    <div class="PagingContainer HideToPrinter">
        <div id="_GotoError_" class="GotoError" style="display: none;">
        </div>
        <div class="PagingRow dataTable_paginate">
            <h3 th:text="#{pagination.title}">Pagination</h3>
            <ul>
                <th:block th:if="${currentPage} > 1">
                    <li class="PagingCell"><a id="lnkFirst" href="#" th:href="@{''(q=${metadata.query},t=${contentType},p=0,s=${metadata.host})}" title="First" th:title="#{pagination.first}" class="PagerLink"><span class="glyphicon glyphicon-fast-backward"></span>&nbsp;<span th:text="#{pagination.first}" th:remove="tag">First</span></a></li>
                    <li class="PagingCell"><a id="lnkPrevious" href="#" th:href="@{''(q=${metadata.query},t=${contentType},p=${metadata.startIndex}-${metadata.itemsPerPage},s=${metadata.host})}" title="Previous" th:title="#{pagination.previous}" class="PagerLink" ><span class="glyphicon glyphicon-backward"></span>&nbsp;<span th:text="#{pagination.previous}" th:remove="tag">Previous</span></a></li>
                </th:block>
                <li class="PagingCell"><label id="pageNumberLabel" for="_GoToPage_">Page:</label> <input id="_GoToPage_" th:title="#{pagination.enter.page.nummer}" class="form-control InlineControlShort" value="1" th:value="${currentPage}" aria-labelledby="pageNumberLabel _GoToPage_ ofTotalPages" type="text" /><span id="ofTotalPages"><span th:text="#{pagination.of}" th:remove="tag">of</span>&nbsp;<strong th:text="${totalPages}"></strong></span>&nbsp;<a id="lnkGo" href="#" onclick="return GotoPage($(this)); " th:title="#{pagination.go}" class="btn btn-default" th:text="#{pagination.go}">Go</a></li>
                <th:block th:if="${currentPage} &lt; ${totalPages}">
                    <li class="PagingCell"><a id="lnkNext" href="#" th:href="@{''(q=${metadata.query},t=${contentType},p=${metadata.startIndex}+${metadata.itemsPerPage},s=${metadata.host})}" th:title="#{pagination.next}" class="PagerLink"><span th:text="#{pagination.next}" th:remove="tag">Next</span>&nbsp;<span class="glyphicon glyphicon-forward"></span></a></li>
                    <li class="PagingCell"><a id="lnkLast" href="#" th:href="@{''(q=${metadata.query},t=${contentType},p=${totalPages}*${metadata.itemsPerPage},s=${metadata.host})}" th:title="#{pagination.last}" class="PagerLink"><span th:text="#{pagination.last}" th:remove="tag">Last</span>&nbsp;<span class="glyphicon glyphicon-fast-forward"></span></a></li>
                </th:block>
            </ul>
            <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
                $('#_GotoError_').hide();
                function GotoPage(jqThis){
                    var pNbr = $('#_GoToPage_').val();
                    if (isNaN(pNbr)) {
                        $('#_GotoError_').html(/*[[#{pagination.error.numeric}]]*/'page number should be a number');
                        $('#_GotoError_').show();

                        return false;
                    }
                    else if (pNbr <= /*[[${totalPages}]]*/ 2) {
                        $('#_GotoError_').html('');
                        $('#_GotoError_').hide();
                        jqThis.prop('href', jqThis.prop('href') + '&start=' + ($('#_GoToPage_').val() - 1) * /*[[${metadata.itemsPerPage}]]*/);
                        return true;
                    }
                    else {
                        $('#_GotoError_').html(/*[[#{pagination.error.upperlimit}]]*/'page number too high');
                        $('#_GotoError_').show();
                        return false;
                    }
                }
            /*]]>*/
            </script>
        </div>

    </div>

</div>

</main>
</html>
