<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="en" th:lang="${#locale.language}" dir="ltr"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title th:text="#{main.baclac.title}">Library and Archives Canada</title>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<!-- Meta data -->
<meta name="description" th:content="#{main.baclac.title}" />
<meta name="dcterms.title" th:content="#{main.title}" />
<meta name="dcterms.creator" content="Library and Archives Canada / Bibliothèque et Archives Canada" />
<meta name="dcterms.language" title="ISO639-2" th:content="${#locale.language}" />
<!--[if gte IE 9 | !IE ]><!-->
<link th:href="@{/wet-boew/theme-gcwu-fegc/assets/favicon.ico}" rel="icon" type="image/x-icon" />
<link rel="stylesheet" th:href="@{/wet-boew/theme-gcwu-fegc/css/theme.min.css}" href="../../static/wet-boew/theme-gcwu-fegc/css/theme.min.css" />
<!--<![endif]-->
<!--[if lt IE 9]>
<link th:href="@{/wet-boew/theme-gcwu-fegc/assets/favicon.ico}" rel="shortcut icon" />
<link rel="stylesheet" th:href="@{/wet-boew/theme-gcwu-fegc/css/ie8-theme-sp-pe.min.css}" />
<script th:src="@{/wet-boew/js/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/wet-boew/wet-boew/js/theme.min.js}"></script>
<![endif]-->
<noscript><link rel="stylesheet" th:href="@{/wet-boew/wet-boew/css/noscript.min.css}" /></noscript>
<script th:inline="javascript">
/*<![CDATA[*/
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', /*[[${@environment.getProperty('gcwa.google.analytics.tracking.id')}]]*/ 'UA-XXXXXXXX-1', 'auto');
ga('send', 'pageview');

/*]]>*/
</script>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
<ul id="wb-tphp">
<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Skip to main content</a>
</li>
<li class="wb-slc visible-sm visible-md visible-lg">
<a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
</li>
<li class="wb-slc visible-md visible-lg">
<a class="wb-sl" href="#wb-sec">Skip to section menu</a>
</li>
</ul>

<header role="banner">
		<div id="wb-bnr">
			<div id="wb-bar">
				<div class="container">
					<div class="row">
					<object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img" th:data="@{/wet-boew/assets/sig-en.svg}" data="../../static/wet-boew/assets/sig-en.svg" aria-label="Government of Canada"></object>
					<ul id="gc-bar" class="list-inline">
					<li><a href="http://www.canada.ca/en/index.html" th:href="#{header.canada.url}" rel="external">Canada.ca</a></li>
					<li><a href="http://www.canada.ca/en/services/index.html" th:href="#{header.services.url}" rel="external" th:text="#{header.services}">Services</a></li>
					<li><a href="http://www.canada.ca/en/gov/dept/index.html" th:href="#{header.departments.url}" rel="external" th:text="#{header.departments}">Departments</a></li>
					<li id="wb-lng"><h2>Language selection</h2>
					<ul class="list-inline">
					<li><a th:if="__${#locale.language}__!='en'" lang="en" href="?lang=en" th:href="@{/(lang=en)}" th:text="#{header.language.other}">English</a></li>
                    <li><a th:if="__${#locale.language}__!='fr'" lang="fr" href="?lang=fr" th:href="@{/(lang=fr)}" th:text="#{header.language.other}">Français</a></li>
					</ul>
					</li>
					</ul>
					
						<section class="wb-mb-links col-xs-12 visible-sm visible-xs"
							id="wb-glb-mn">
							<h2>Search and menus</h2>
							<ul class="pnl-btn list-inline text-right">
								<li><a href="#mb-pnl" title="Search and menus"
									aria-controls="mb-pnl"
									class="overlay-lnk btn btn-sm btn-default" role="button"><span
										class="glyphicon glyphicon-search"><span
											class="glyphicon glyphicon-th-list"><span
												class="wb-inv">Search and menus</span></span></span></a></li>
							</ul>
							<div id="mb-pnl"></div>
						</section>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div id="wb-sttl" class="col-md-5">
						<a th:href="#{main.baclac.title.link}"> <span th:text="#{main.baclac.title}">Government of Canada</span>
						</a>
					</div>
					<object id="wmms" type="image/svg+xml" tabindex="-1" role="img"
						th:data="@{/wet-boew/assets/wmms.svg}"
						data="../../static/wet-boew/assets/wmms.svg"
						aria-label="Symbol of the Government of Canada"></object>
<!--
					<section id="wb-srch" class="visible-md visible-lg">
						<h2>Search</h2>
						<form th:action="@{/search}" method="get" role="search"
							class="form-inline">
							<div class="form-group">
								<label for="wb-srch-q">Search website</label> <input
									id="wb-srch-q" class="form-control" name="containWord" type="search"
									value="" size="27" maxlength="150" />
							</div>
							<button type="submit" id="wb-srch-sub" class="btn btn-default" th:text="#{header.search}">Search</button>
						</form>
					</section>
-->
				</div>
			</div>
		</div>
		
		<nav role="navigation" id="wb-bc" property="breadcrumb">
			<h2>You are here:</h2>
			<div class="container">
				<div class="row">
					<ol class="breadcrumb">
						<li><a th:href="@{/(lang=(${#locale.language} == 'en' ? 'en' : 'fr'))}" th:text="#{link.home}" href="#">Home</a></li>
 						<li th:each="bc : ${breadcrumbs}" th:if="#{breadcrumbs}"><a th:href="@{${bc.key}}" th:text="${bc.value}"></a></li>
						<li th:text="${sectionTitle}">Section Title</li>
					</ol>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<div class="row">
		<main role="main" property="mainContentOfPage"
				class="col-md-9 col-md-push-3"
				layout:fragment="content">
			
				<!-- dummy text -->			
				<h1>Static content for prototyping purposes only</h1>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				  Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
				  Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				  Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
				  Phasellus et placerat elit.
				</p>
			
			</main>

			<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement" class="col-md-3 col-md-pull-9 visible-md visible-lg">
				<h2>Section Menu</h2>
				<ul class="list-group menu list-unstyled">
					<li>
					<!-- <h3 th:text="#{main.title}">Content page - Secondary menu</h3>-->
						<ul class="list-group menu list-unstyled">
							<li><a class="list-group-item" th:classappend="${navSection}=='category'?'wb-navcurr':''" th:href="@{/}" th:text="#{intro1.title}">intro</a></li>
<!-- 							
							<li><a class="list-group-item" th:classappend="${navSection}=='basicsearch'?'wb-navcurr':''" th:href="@{/search}" th:text="#{search.basicsearch.title}">search</a></li>
							<li><a class="list-group-item" th:classappend="${navSection}=='advancedsearch'?'wb-navcurr':''" th:href="@{/search/advanced}" th:text="#{search.advancedsearch.title}">advancedsearch</a></li>
-->
                            <li><a class="list-group-item" th:classappend="${navSection}=='about-us'?'wb-navcurr':''" th:href="@{/about-us}" th:text="#{aboutus.title}">About Us</a></li>
                            <li><a class="list-group-item" th:classappend="${navSection}=='copyright-disclaimer'?'wb-navcurr':''" th:href="@{/copyright-disclaimer}" th:text="#{copyright.disclaimer.title}">Copyright</a></li>
                            <li><a class="list-group-item" th:classappend="${navSection}=='help'?'wb-navcurr':''" th:href="@{/help}" th:text="#{help.title}">help</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			
		</div>
	</div>
	
	
	<footer role="contentinfo" id="wb-info"
		class="visible-sm visible-md visible-lg wb-navcurr">
		<div class="container">
			<nav role="navigation">
				<h2>About this site</h2>
				<ul id="gc-tctr" class="list-inline">
					<li><a rel="license"
						th:href="#{footer.terms.and.condition.link}" 
						th:text="#{footer.terms.and.condition}"></a></li>
					<li><a
						th:href="#{footer.transparency.link}"
						th:text="#{footer.transparency}"></a></li>
				</ul>
				<div class="row">
					<section class="col-sm-3">
						<h3><a th:href="#{footer.about.us.link}" th:text="#{footer.about.us}">About Us</a></h3>
						<ul class="list-unstyled">
							<li><a th:href="#{footer.mandate.link}" th:text="#{footer.mandate}">Our Mandate</a></li>
							<li><a th:href="#{footer.librarian.and.archivist.link}" th:text="#{footer.librarian.and.archivist}">Librarian and Archivist of Canada</a></li>
							<li><a th:href="#{footer.service.and.program.link}" th:text="#{footer.service.and.program}">Services and Programs</a></li>
							<li><a th:href="#{footer.lac.events.link}" th:text="#{footer.lac.events}">LAC's Events</a></li>
							<li><a th:href="#{footer.lac.publications.link}" th:text="#{footer.lac.publications}">Publications</a></li>
						</ul>
					</section>
					<section class="col-sm-3">
						<h3><a th:href="#{footer.news.title.link}" th:text="#{footer.news.title}">News</a></h3>
						<ul class="list-unstyled">
							<li><a th:href="#{footer.news.release.link}" th:text="#{footer.news.release}">News Releases</a></li>
							<li><a th:href="#{footer.speeches.link}" th:text="#{footer.speeches}">Speeches</a></li>
							<li><a th:href="#{footer.photo.gallery.link}" th:text="#{footer.photo.gallery}">Photo Gallery</a></li>
							<li><a th:href="#{footer.videos.link}" th:text="#{footer.videos}">Videos</a></li>
							<li><a th:href="#{footer.podcasts.link}" th:text="#{footer.podcasts}">Podcasts</a></li>
						</ul>
					</section>
					<section class="col-sm-3">
						<h3><a th:href="#{footer.contactus.title.link}" th:text="#{footer.contactus.title}">Contact Us</a></h3>
						<ul class="list-unstyled">
							<li><a th:href="#{footer.address.link}" th:text="#{footer.address}">Address</a></li>
							<li><a th:href="#{footer.telephone.numbers.link}" th:text="#{footer.telephone.numbers}">Telephone Numbers</a></li>
							<li><a th:href="#{footer.find.employee.link}" th:text="#{footer.find.employee}">Find an employee</a></li>
							<li><a th:href="#{footer.feedback.link} + ${#httpServletRequest.requestURL}" th:text="#{footer.feedback}">Find an employee</a></li>
						</ul>
					</section>
					<section class="col-sm-3">
						<h3 th:text="#{footer.stay.connected.title}">Stay Connected</h3>
						<ul class="list-unstyled">
						    <li><a th:href="#{footer.social.media.link}" th:text="#{footer.social.media}">Social Media</a></li>
						</ul>
					</section>
				</div>
			</nav>
		</div>
		<div id="gc-info">
			<div class="container">
				<nav role="navigation">
					<h2>Government of Canada footer</h2>
					<ul class="list-inline">
						<li><a th:href="#{footer.health.title.link}"><span th:text="#{footer.health.title}">Health</span></a></li>
						<li><a th:href="#{footer.travel.title.link}"><span th:text="#{footer.travel.title}">Travel</span></a></li>
						<li><a th:href="#{footer.service.canada.title.link}"><span th:text="#{footer.service.canada.title}">Service Canada</span></a></li>
						<li><a th:href="#{footer.jobs.title.link}"><span th:text="#{footer.jobs.title}">Jobs</span></a></li>
						<li><a th:href="#{footer.economy.title.link}"><span th:text="#{footer.economy.title}">Economy</span></a></li>
						<li id="canada-ca"><a
							th:href="#{header.canada.ca.link}">Canada.ca</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</footer>
	
<!--[if gte IE 9 | !IE ]><!-->
<script th:src="@{/wet-boew/js/jquery/2.1.4/jquery.min.js}"></script>
<script th:src="@{/wet-boew/wet-boew/js/wet-boew.min.js}"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script th:src="@{/wet-boew/wet-boew/js/ie8-wet-boew2.min.js}"></script>

<![endif]-->
<script th:src="@{/wet-boew/theme-gcwu-fegc/js/theme.min.js}"></script>
			
</body>
</html>