<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="layout/content-secmenu">
<main layout:fragment="content">

<h1 id="wb-cont" property="name" th:text="${sectionTitle}">Section Title</h1>

<ul class="pagination pagination-sm" th:if="${alphabetizedCollections.size()} > 8">
	<li th:each="letter : ${alphabetizedCollections}"><a th:href="'#' + ${letter.key}" th:text="${letter.key}"></a></li>
</ul>
			
<div>
	
	<div th:each="azlist : ${alphabetizedCollections}">
		<h2 th:text="${azlist.key}" th:id="${azlist.key}" th:if="${alphabetizedCollections.size()} > 8">A</h2>
		<ul>
		<li th:each="collection : ${azlist.value}">
		  <a  th:href="@{/seed/subcategory/} + ${subcategory.id} +'#'+${collection.title}"  th:text="${collection.title}">Agriculture and Agri-Food Canada</a>
		</li>
		</ul>
	</div>
  <div th:replace="_datemodified"></div>

</div>

</main>
</html>
