<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout/content-intranet">
<main layout:fragment="content">
    <h1>Collections</h1>
    <p th:if="${subcategory}">of subcategory: <a th:href="@{/admin/subcategory/} + ${subcategory.id}" th:text="${subcategory.title}"></a></p>
    
    <p class="alert alert-success" th:if="${flashSuccessMsg}" th:text="${flashSuccessMsg}"></p>
    
    <table class="wb-tables table table-striped table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <!-- <th>Sub Category</th> -->
            <th>Enabled?</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="collection: ${collections}">
            <td><a th:href="@{/admin/collection/} + ${collection.id}" th:text="${collection.getTitle()}">collection name</a></td>
<!--             <td><a th:href="@{/admin/subcategory/} + ${collection.subcategory.id}" th:text="${collection.subcategory.title}">subcat name</a></td>-->
            <td th:text="${collection.enabled}">true</td>
            <td><a th:href="@{/admin/seed/list/collection/} + ${collection.id}">manage seeds</a></td>
        </tr>
        </tbody>
    </table>

<a th:href="@{/admin/collection/new} + (${subcategoryId} ? '/'+${subcategoryId} : '')" class="btn btn-primary">Add a collection <span class="glyphicon glyphicon-plus-sign"></span></a>

</main>
</html>
