<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorator="layout/content-secmenu">
<main layout:fragment="content">

<h1 id="wb-cont" property="name" th:text="${sectionTitle}">Section Title</h1>
<section class="gc-prtts">
<div class="row">
	<section class="col-lg-4 col-md-6 mrgn-bttm-md">
	  <img src="../static/images/ballot_box.jpg" th:src="@{/images/{img}(img=${category.thumbnail})}" alt="" class="img-responsive thumbnail mrgn-bttm-sm" />
	</section>
	
	<section class="col-lg-6 col-md-6 mrgn-bttm-md">
		<ul>
			<li th:each="subcategory : ${subcategories}">
				<a href="#" th:href="@{/subcategory/} + ${subcategory.id}" th:text="${subcategory.title}">Sub Category 1</a>
			</li>
			<li th:remove="all">Sub Category 2</li>
			<li th:remove="all">Sub Category 3</li>
		</ul>
	</section>
</div>
</section>

  <div th:replace="_datemodified"></div>
</main>
</html>