<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorator="admin/layout/content-intranet">
<main layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        (function() {
            window["wb-tables"] = {
                "deferRender": true,
                "order": [[0, 'asc']]
            }
        })();
        /*]]>*/
    </script>

  <h1>Categories</h1>

        <table class="wb-tables table table-striped table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category: ${categories}">
                <td><a th:href="@{/admin/category/} + ${category.id}" th:text="${category.getTitle()}">sample 1</a></td>
                <td th:text="${category.getDescription()}">lorem ipsum</td>
                <td><a th:href="@{/admin/subcategory/list/category/} + ${category.id}">view subcategories</a>
                </td>
            </tr>
            </tbody>
        </table>

</main>
</html>