<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/content-secmenu">
<main layout:fragment="content">

<h1 id="wb-cont" property="name">
    Archives du Web du gouvernement du Canada
</h1>
            
<section>
        
        
        <div class="row">
            <div class="col-md-12">
                <div id="ctl00_PlaceHolderMain_ctl00_label" style="display:none">Contenu de la page</div><div id="ctl00_PlaceHolderMain_ctl00__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline"><p>Depuis 2005, Bibliothèque et Archives Canada (BAC) a recueilli des sites Web du gouvernement du Canada at autres dans le cadre du programme d’archivage Web. Grâce à ce site Web, les Archives du Web du gouvernement du Canada (AWGC), il est possible d’accéder aux sites Web&nbsp;du&nbsp;gouvernement&nbsp;fédéral&nbsp;archivés.</p>
<h2>Contenu des AWGC</h2>
<ul><li>Des renseignements du gouvernement fédéral dans leur forme originale au moment de la publication </li>
<li>Des pages&nbsp;Web du gouvernement fédéral qui ne sont plus disponibles au public</li>
<li>Des index pour consulter notre collection par nom d’organisation et par adresse&nbsp;URL</li></ul>
<h2>Lancer une recherche</h2>
<ul class="list-inline"><li><a class="btn btn-primary" role="button" href="http://archivesduweb.bac-lac.gc.ca/subcategory/2?lang=fr">Naviguez par institution</a></li>
<li><a class="btn btn-primary" role="button" href="http://archivesduweb.bac-lac.gc.ca/seed/subcategory/2?lang=fr">Naviguez par adresse URL</a></li></ul>
<h2>Plus d'information sur le programme d'archivage Web de BAC</h2>
<ul><li><a href="#a">Préserver la présence du Canada sur le Web</a></li>
<li><a href="#b">En quoi consiste l'archivage de contenu&nbsp;Web?</a></li>
<li><a href="#c">Accès futur aux collections autres que celles du gouvernement fédéral</a></li>
<li><a href="#d">Communiquer avec l'équipe du programme d'archivage&nbsp;Web</a></li></ul>
<h3><a id="a"></a>Préserver la présence du Canada sur le Web</h3>
<p>Le Web est le tissu culturel contemporain qui connaît la plus forte croissance tous azimuts. Il permet de consigner des actions et des interactions sociales et de les polariser. Aujourd’hui, il fournit plus d’information à jour sur le monde que tout autre média traditionnel.</p>
<p>Le gouvernement fédéral a commencé à utiliser le Web au milieu des années&nbsp;1990 afin de communiquer de l’information sur ses institutions aux Canadiens. En 2004, la <a title="lien externe" href="http://laws-lois.justice.gc.ca/fra/lois/L-7.7/"><em>Loi sur la Bibliothèque et les Archives du Canada</em></a> conférait à BAC le pouvoir de recueillir et de conserver un échantillon représentatif des sites&nbsp;Web canadiens. Depuis 2005, BAC a recueilli du contenu&nbsp;Web, entre autres du gouvernement fédéral.</p>
<p>Dans le cadre de l’<a href="http://tbs-sct.gc.ca/wr-rw/index-fra.asp">Initiative de renouvellement du Web du Secrétariat du Conseil du Trésor du Canada de 2016-2017</a>, la majorité des ressources&nbsp;Web du gouvernement fédéral seront déplacées vers un domaine central, soit Canada.ca. Au titre de ses activités de conservation courantes, BAC saisira toutes les ressources du gouvernement fédéral avant la migration des données et les rendra disponibles grâce aux AWGC.</p>
<h3><a id="b"></a>En quoi consiste l'archivage de contenu&nbsp;Web?</h3>
<p>Par archivage de contenu Web, s’entend le processus consistant à&nbsp;acquérir les données qui ont été publiées dans le Web, à les stocker, à faire en sorte qu’elles soient préservées dans une archive et à rendre les données ainsi recueillies disponibles à des fins de recherches ultérieures. Ailleurs dans le monde, des institutions de mémoire et des organismes privés font de même pour protéger le patrimoine documentaire qui se trouve dans le Web.</p>
<p>Le Programme d’archivage du Web de BAC repose sur des pratiques exemplaires reconnues à l’échelle internationale ainsi que sur les méthodes de développement de logiciels préconisées par le <a title="Lien externe" href="http://www.netpreserve.org/"><em>Consortium international pour la préservation d’Internet</em></a> et <a title="Lien externe" href="https://archive.org/"><em>Internet Archive</em></a> (deux&nbsp;sites en anglais seulement). BAC est un membre actif du Consortium et collabore souvent avec d’autres institutions de mémoire afin de préserver les ressources historiques du Web, tant pour la génération actuelle de chercheurs que pour celles à venir.</p>
<h3><a id="c"></a>Accès futur aux collections autres que celles du gouvernement fédéral</h3>
<p>Dans un proche avenir, BAC commencera à donner l’accès à ses collections Web autres que celles du gouvernement fédéral et qui sont axées sur des sujets précis ayant une certaine pertinence pour la société canadienne. Parmi les collections thématiques ayant à ce jour fait l’objet d’un archivage Web, mentionnons les élections fédérales, le centenaire de la Première Guerre mondiale (2014-2018), la Commission de vérité et de réconciliation et les Jeux olympiques de 2014 à Sotchi. </p>
<h3><a id="d"></a>Communiquer avec l'équipe du programme d'archivage&nbsp;Web</h3>
<p>Si vous avez des questions concernant les Archives du Web du gouvernement du Canada ou notre programme d'archivage&nbsp;Web, veuillez communiquer avec nous par courriel à <a href="mailto:bac.archivesweb-webarchives.lac@canada.ca">bac.archivesweb-webarchives.lac@canada.ca</a>.</p></div>
            </div>
        </div>

        
    </section>

</main>
</html>
