<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/content-secmenu">
<main layout:fragment="content">

<h1 id="wb-cont" property="name" th:text="${sectionTitle}">Section Title</h1>

            
<section>
        
        
        <div class="row">
            <div class="col-md-12">
                <div id="ctl00_PlaceHolderMain_ctl00_label" style="display:none">Page Content</div><div id="ctl00_PlaceHolderMain_ctl00__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline"><p>Since 2005, Library and Archives Canada (LAC) has collected federal and non-federal web resources in the context of its Web Archiving Program.&nbsp;This website, the  Government of Canada Web Archive (GCWA), provides access to archived federal websites. </p>
<h2>What the GCWA contains</h2>
<ul><li>Federal government information as originally<strong> </strong>published on the Web </li>
<li>Federal web pages that are no longer available to the public</li>
<li>Indices to explore our collection by organization name and by URL</li></ul>
<h2>Search</h2>
<ul class="list-inline"><li><a class="btn btn-primary" role="button" href="http://webarchive.bac-lac.gc.ca/subcategory/2?lang=en">Browse by Institution</a></li>
<li><a class="btn btn-primary" role="button" href="http://webarchive.bac-lac.gc.ca/seed/subcategory/2?lang=en">Browse by URL</a></li></ul>
<h2>More on LAC's Web Archiving Program</h2>
<ul><li><a href="#a">Preserving Canada's online presence</a></li>
<li><a href="#b">What is web archiving?</a></li>
<li><a href="#c">Future access to non-federal collections</a></li>
<li><a href="#d">Contact Web Archiving Program team</a></li></ul>
<h3><a id="a"></a>Preserving Canada's online presence</h3>
<p>The World Wide Web is the largest and fastest-growing contemporary cultural text. It captures and drives social actions and interactions and provides more up-to-date information about the world than any traditional media source. </p>
<p>The Government of Canada began using the Web in the mid-1990s to share information about its institutions with Canadians. In 2004, the <a title="External link" href="http://laws-lois.justice.gc.ca/eng/acts/L-7.7/"><em>Library and Archives of Canada Act</em></a> gave LAC the authority to collect and preserve a representative sample of Canadian Web content. LAC has been collecting federal and non-federal web content since 2005.</p>
<p>As part of the <a href="http://tbs-sct.gc.ca/wr-rw/index-eng.asp">Treasury Board of Canada Secretariat's Web Renewal Initiative 2016-17</a>, most federal web resources will be migrating to a central domain, Canada.ca.&nbsp; As part of its ongoing preservation activities, LAC will capture all federal resources prior to migration and make them available via the GCWA.</p>
<h3><a id="b"></a>What is web archiving?</h3>
<p>Web archiving is the process of acquiring data that has been published on the World Wide Web, storing it, ensuring the data is preserved in an archive, and making the collected data available for future research. It is practiced internationally by memory institutions and private organizations to safeguard documentary heritage from the World Wide Web.</p>
<p>LAC's Web Archiving Program is aligned with international best practices and software development as championed by the <a title="External link" href="http://www.netpreserve.org/"><em>International Internet Preservation Consortium</em></a> (IIPC) and the <a title="External link" href="https://archive.org/"><em>Internet Archive</em></a>. LAC is an active member of the IIPC and frequently collaborates with other memory institutions to preserve the historical Web for current and future researchers.</p>
<h3><a id="c"></a>Future access to non-federal collections</h3>
<p>In the near future LAC will begin providing access to its non-federal web collections focused on specific topics of relevance to Canadian society. Thematic web archive collections captured to date include federal elections, the First World War Centenary (2014-2018), the Truth and Reconciliation Commission, and the 2014 Sochi Olympics.</p>
<h3><a id="d"></a>Contact the Web Archiving Program team</h3>
<p>If you have questions about the Government of Canada Web Archive or our web archiving program, please email us at <a href="mailto:bac.archivesweb-webarchives.lac@canada.ca">bac.archivesweb-webarchives.lac@canada.ca</a>.</p></div>
            </div>
        </div>

        
    </section>

</main>
</html>