<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorator="layout/content-secmenu">
<main layout:fragment="content">

<h1 id="wb-cont" property="name" th:text="${sectionTitle}">Section Title</h1>

<ul class="pagination pagination-sm" th:if="${alphabetizedSeeds.size()} > 8">
	<li th:each="letter : ${alphabetizedSeeds}"><a th:href="'#' + ${letter.key}" th:text="${letter.key}"></a></li>
</ul>
			
<div>
	
	<div th:each="azlist : ${alphabetizedSeeds}">
		<h2 th:text="${azlist.key}" th:id="${azlist.key}" th:if="${alphabetizedSeeds.size()} > 8">A</h2>
		<ul>
		<li th:each="seed : ${azlist.value}">
		  <a th:text="${seed.humanReadableUrl}" th:href="@{${waybackUrl}} + ${seed.url}">Agriculture and Agri-Food Canada</a>
		</li>
		</ul>
	</div>
  <div th:replace="_datemodified"></div>

</div>

</main>
</html>