<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement" class="col-md-3 col-md-pull-9 visible-md visible-lg">
    <h2>Section Menu</h2>
    <ul class="list-group menu list-unstyled">
        <li>
            <ul class="list-group menu list-unstyled">
                <li><a class="list-group-item" th:classappend="${navSection}=='category'?'wb-navcurr':''" href="http://www.bac-lac.gc.ca/fra/decouvrez/archives-web-gouvernment/Pages/archives-web.aspx">Archives Web</a></li>
                <li><a class="list-group-item" href="#">À propos de AWGC</a></li>
                <li><a class="list-group-item" href="#">Droit d'auteur</a></li>
                <li><a class="list-group-item" href="#">Aide</a></li>
            </ul>
        </li>
    </ul>
</nav>