<nav class="col-md-3 col-md-pull-9 visible-md visible-lg" id="wb-sec"
	role="navigation" typeof="SiteNavigationElement">
	<h2 id="wb-nav">Navigation Principale (colonne gauche)</h2>

	<ul class="list-group menu list-unstyled">
		<li><h3 class="wb-navcurr">
				<a
					href="http://www.bac-lac.gc.ca/fra/decouvrez/archives-web-gouvernment/Pages/default.aspx">Archives
					Web du gouvernment du Canada</a>
			</h3>
			<ul class="list-group menu list-unstyled">
				<li><a class="list-group-item" href="">Browse by
						institution</a></li>
				<li><a class="list-group-item" href="">Disclaimers</a></li>
				<li><a class="list-group-item" href="">Browse by URL</a></li>
			</ul></li>
	</ul>
	<br />
	<br />
	<br />
</nav>